---
const today = new Date();
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---

<footer class="container footer">
  <Trans i18nKey="home.smallFooter">
    Having issues with photo upload? Feel free to <a
      href="https://drive.google.com/drive/folders/1v7Pn2NTIcdxFhGxUnFbVF-ClDzY26nYy?usp=sharing"
    ></a>upload to Google Photos</Trans
  >
  <a class="shaka" href="/🤙">🤙</a>
</footer>
