---
import { LanguageSelector } from "astro-i18next/components";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="container header">
  <nav>
    <!-- <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank"
      >Twitter</HeaderLink
    >
    <HeaderLink href="https://github.com/withastro/astro" target="_blank"
      >GitHub</HeaderLink
    > -->

    <!-- <LanguageSelector showFlag={false} class="lang-select" /> -->
  </nav>
</header>
